# Verwaltet von Ansible (Terrassenplaner) – enthält Geheimnisse
PLANER_AUTH_TOKEN={{ planer_auth_token }}
PLANER_AUTH_DIENST_TICKET={{ planer_auth_dienst_ticket }}
PLANER_AUTH_LISTEN={{ planer_auth_listen }}
PLANER_AUTH_HEALTH_LISTEN={{ planer_auth_health }}
PLANER_REALM={{ planer_realm }}
{% if planer_mitarbeiter_datei is defined %}
PLANER_MITARBEITER_DATEI={{ planer_mitarbeiter_datei }}
{% endif %}
