# Verwaltet von Ansible (Terrassenplaner) – enthält Geheimnisse
PLANER_AUTH_TOKEN={{ planer_auth_token }}
PLANER_AUTH_DIENST_TICKET={{ planer_auth_dienst_ticket }}
PLANER_HOST=127.0.0.1
PLANER_PORT={{ planer_router_port }}
PLANER_WS_PFAD={{ planer_ws_pfad }}
PLANER_REALM={{ planer_realm }}
PLANER_HEALTH_LISTEN={{ planer_router_health }}
PLANER_AUTH_ADRESSE={{ planer_auth_listen }}
