.dart_tool/
.DS_Store
build/
coverage/
.idea/
*.iml
.vscode/
mutation-test-report/
benchmark-results/
artefakte/
deploy/inventories/*/group_vars/all/vault.yml.unverschluesselt
packages/server/lib/libobjectbox.dylib
packages/server/lib/libobjectbox.so
