[defaults]
inventory = inventories/produktion/hosts.yml
roles_path = roles
stdout_callback = default
result_format = yaml
retry_files_enabled = False
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
