# Verwaltet von Ansible (Terrassenplaner) – Grafana unter {{ monitoring_domain }}
http:
  routers:
    monitoring-grafana:
      rule: "Host(`{{ monitoring_domain }}`)"
      entryPoints: [websecure]
      service: monitoring-grafana
      tls:
        certResolver: letsencrypt
  services:
    monitoring-grafana:
      loadBalancer:
        servers:
          - url: "http://127.0.0.1:{{ monitoring_grafana_port }}"
